<!DOCTYPE html>
<html lang=es xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title>Fat Down</title>
<meta charset="UTF-8">
<meta name="description" content="Aplicación de fitness">
<meta name="keywords" content="work out, gym, fitness, wellness" />
<meta name="author"
	content="Daniel Esteban, Alejandro Relaño & Amanda Segura" />
<meta name="copyright"
	content="Daniel Esteban, Alejandro Relaño & Amanda Segura" />
<script th:src="@{/js/jquery-3.5.1.min.js}"></script>
<script th:src="@{/js/jquery-ui.min.js}"></script>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.minSUPERHERO.css}" />
<script type="text/javascript">
	$(document).ready(function() {
		$("#tipoEjercicio").change(function() {
			if ($(this).val() == "Duracion") {
				$("#repeticionEjercicio").prop("disabled", true);
				$("#duracionEjercicio").prop("disabled", false);
			} else {
				$("#duracionEjercicio").prop("disabled", true);
				$("#repeticionEjercicio").prop("disabled", false);
			}
		});
	});
</script>
<style th:inline="text">
.wrapper {
	width: 50%;
	margin-right: auto;
	margin-left: auto;
}

@media ( max-width : 600px) {
	.wrapper {
		width: 100%;
	}
}

label {
	font-size: 24pt;
}

.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	width: 10%;
}

.boton {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-decoration: none;
}

h1 {
	color: #ff9900;
	text-align: center;
}
</style>
</head>
<body>
	<nav th:replace="navbar_loader"></nav>
	<header>
		<!--Cabecera con logo en imágenes que presentan la página-->
		<figure>
			<img class="logo" th:src="@{/pictures/logo.gif}" />
		</figure>
		<br />
	</header>
	<h1>Creación de ejercicios</h1>
	<br />
	<div class="wrapper">
		<form th:action="@{/ejercicio/crearEjercicio}" method="post">
			<fieldset>
				<div class="form-group">
					<input name="nombreEjercicio" type="text"
						aria-label="Nombre del ejercicio"
						class="form-control form-control-lg"
						placeholder="Nombre del ejercicio" required>
				</div>
				<div class="form-group">
					<textarea class="form-control form-control-lg"
						name="descripcionEjercicio" rows="3"
						placeholder="Escribe aquí la descripción del ejercicio" required></textarea>

				</div>

				<div class="form-group">
					<label for="exampleSelect1"
						style="font-size: 18pt; color: #ff9900;">Categoría del
						ejercicio</label> <select id="exampleSelect1" class="form-control"
						name="categoriaEjercicio" required>
						<option value="ABDOMINALES">ABDOMINALES</option>
						<option value="PIERNAS">PIERNAS</option>
						<option value="GLUTEOS">GLÚTEOS</option>
						<option value="ESPALDA">ESPALDA</option>
						<option value="BRAZOS">BRAZOS</option>
						<option value="FULL_BODY">FULL BODY</option>
					</select>
				</div>
				<div class="form-group">
					<label for="tipoEjercicio" style="font-size: 18pt; color: #ff9900;">Tipo
						de ejercicio (por tiempo / con repeticiones)</label> <select
						id="tipoEjercicio" class="form-control" name="tipoEjercicio"
						required>
						<option disabled selected>Selecciona una de las
							siguientes opciones</option>
						<option value="Duracion">Por tiempo (duración
							determinada)</option>
						<option value="Repeticion">Con repeticiones (número
							determinado)</option>
					</select>
				</div>

				<div class="form-group">
					<label style="font-size: 18pt; color: #ff9900;">Duración/Repeticiones</label>
					<input id="repeticionEjercicio" name="repeticionEjercicio"
						type="number" aria-label="Repeticion"
						class="form-control form-control-lg" placeholder="Repeticiones del ejercicio"
						required> <input id="duracionEjercicio"
						name="duracionEjercicio" type="number" aria-label="Duracion"
						class="form-control form-control-lg" placeholder="Duración del ejercicio"
						required>
				</div>
				<div class="form-group">
					<label style="font-size: 18pt; color: #ff9900;">Sube aquí
						el GIF ilustrativo del ejercicio</label> <input name="gif" type="file"
						class="form-control form-control-lg" required>
				</div>
			</fieldset>
			<button type="submit" class="btn btn-success btn-lg">Crear
				ejercicio</button>
		</form>
	</div>
</body>
</html>