<!DOCTYPE html>
<html lang=es xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Fat Down</title>
    <meta charset="UTF-8">
    <meta name="description" content="Aplicación de fitness">
    <meta name="keywords" content="work out, gym, fitness, wellness" />
    <meta name="author"
          content="Daniel Esteban, Alejandro Relaño & Amanda Segura" />
    <meta name="copyright"
          content="Daniel Esteban, Alejandro Relaño & Amanda Segura" />
    <link rel="stylesheet" type="text/css"
          th:href="@{/css/bootstrap.minSUPERHERO.css}" />
    <style th:inline="text">
.wrapper {
	width: 50%;
	margin-right: auto;
	margin-left: auto;
}

@media ( max-width : 600px) {
	.wrapper {
		width: 100%;
	}
}

label {
	font-size: 24pt;
}

.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	width: 10%;
}

.boton {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-decoration: none;
}

h1 {
	color: white;
	text-align: center;
}
</style>
</head>
<body>
<nav th:replace="navbar_loader"></nav>
<header>
    <!--Cabecera con logo en imágenes que presentan la página-->
    <figure>
        <img class="logo" th:src="@{/pictures/logo.gif}" />
    </figure>
    <br />
</header>
<tbody>
<tr th:each="ejercicio : ${ejercicio}">
    <td>
        <figure>
            <img class="foto"
                 th:src="@{/multimedia/{id}(id=${ejercicio.gif.idMultimedia})}" width="100" height="100"/>
        </figure>
    </td>
    <td style="text-align:center" th:text="${ejercicio.nombreEjercicio}"></td>
    <td style="text-align:center" th:text="${ejercicio.descripcionEjercicio}"></td>
    <td style="text-align:center" th:text="${ejercicio.categoriaEjercicio}"></td>
    <td style="text-align:center" th:text="${ejercicio.tipoEjercicio}"></td>
    <td style="text-align:center" th:text="${ejercicio.repeticionEjercicio}"></td>
    <td style="text-align:center" th:text="${ejercicio.duracionEjercicio}"></td>
    <td>
        <form th:action="@{/ejercicio/eliminarEjercicio/{id}(id=${ejercicio.idEjercicio})}" method="post">
            <button type="submit">
                Eliminar ejercicio</button>
        </form>
    </td>

</tr>
</tbody>

</body>
</html>