<!DOCTYPE html>
<html lang=es xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title>Fat Down</title>
<meta charset="UTF-8">
<meta name="description" content="Aplicación de fitness">
<meta name="keywords" content="work out, gym, fitness, wellness" />
<meta name="author"
	content="Daniel Esteban, Alejandro Relaño & Amanda Segura" />
<meta name="copyright"
	content="Daniel Esteban, Alejandro Relaño & Amanda Segura" />
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.minSUPERHERO.css}" />
<style th:inline="text">
.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	width: 10%;
}

legend {
	text-align: center;
}

.coloreado1 {
	background-color:#ffcc99;
}

.coloreado2 {
	background-color: #ffcc99;
}

td:first-child {
	color: navy;
}

.tablas {
	width: 50%;
	padding: 10px;
	min-width: 300px;
	float: left;
}

.tabla {
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
}
</style>
</head>
<body>
	<nav th:replace="navbar_loader"></nav>
	<header>
		<!--Cabecera con logo en imágenes que presentan la página-->
		<figure>
			<img class="logo" th:src="@{/pictures/logo.gif}" />
		</figure>
	</header>
	<section>
<!-- 	Revisar este template -->
		<h1 class="text-center" style="color:#ff9900;">Perfil del usuario</h1>
		<div class="tablas">
			<fieldset>
				<legend style="font-weight: bold;">Datos personales</legend>
				<table class="table table-bordered tabla" style="width: 70%">
					<tr>
						<td class="coloreado1">ID:</td>
						<td th:text="${usuario.idUsuario}" />
					</tr>
					<tr>
						<td class="coloreado1">Nombre:</td>
						<td th:text="${usuario.nombreUsuario}" />
					</tr>
					<tr>
						<td class="coloreado1">Apellidos:</td>
						<td th:text="${usuario.apellidosUsuario}" />
					</tr>
<!--					<tr-->
<!--						th:if="${ (idUsuarioSESSION == usuario.idUsuario) or #authorization.expression('hasAuthority(''admin'')')} ">-->
<!--						<td class="coloreado1">Contraseña:</td>-->
<!--						<td th:text="${usuario.passwordUsuario}" />-->
<!--					</tr>-->
					<tr>
						<td class="coloreado1">Email:</td>
						<td th:text="${usuario.emailUsuario}" />
					</tr>
					<tr>
						<td class="coloreado1">Fecha de nacimiento:</td>
						<td th:text="${usuario.fechanacUsuario}" />
					</tr>
				</table>
			</fieldset>
		</div>


		<div class="tablas">
			<fieldset
				th:if="${ (idUsuarioSESSION == usuario.idUsuario) or #authorization.expression('hasAuthority(''admin'')')} ">
				<legend
					style="font-weight: bold;">Datos
					de pago y facturación</legend>
				<table class="table table-bordered tabla" style="width: 70%">
					<tr>
						<td class="coloreado2">Número de tarjeta de crédito/débito:</td>
						<td th:text="${usuario.numtarjetaUsuario}" />
					</tr>
					<tr>
						<td class="coloreado2">Titular de la tarjeta de
							crédito/débito:</td>
						<td th:text="${usuario.titularUsuario}" />
					</tr>
					<tr>
						<td class="coloreado2">Código de seguridad de la tarjeta de
							crédito/débito:</td>
						<td th:text="${usuario.codsegUsuario}" />
					</tr>
					<tr>
						<td class="coloreado2">Dirección de facturación:</td>
						<td th:text="${usuario.direcfactUsuario}" />
					</tr>
				</table>
			</fieldset>
		</div>
		<div style="clear: both;"></div>

		<!-- 			Utilizaremos este método para listar rutinas creadas y vídeos favoritos -->
		 			<div th:if="${ (idUsuarioSESSION == usuario.idUsuario) or #authorization.expression('hasAuthority(''admin'')')} "
		 			class="card text-white bg-success mb-3 tabla" style="width: 80%;">
		 				<div class="card-header">&iexcl;Aquí están tus rutinas!</div>
		 				<div class="card-body">
<!--		 					<h4 th:if="${compras.empty}" class="card-title">Todavía no hay-->
<!--		 						pedidos realizados</h4>-->
		 					<p class="card-text">
		 					<table class="table table-hover">
		 						<tbody th:each="rutina: ${rutina}">
		 							<tr class="table-primary">
		 								<td class="celdas"><span
		 									th:text="'Nombre Rutina '+${rutina.nombreRutina}"></span></td>
									</tr>
									<tr class="table-primary" th:each="ejercicio: ${rutina.ejercicio}">
										<td class="celdas"><span
											th:text="'Nombre ejercicio '+${ejercicio.nombreEjercicio}"></span></td>
										<td class="celdas"><span
												th:text="'Nombre ejercicio '+${ejercicio.descripcionEjercicio}"></span></td>
										<td class="celdas"><span
												th:text="'Nombre ejercicio '+${ejercicio.categoriaEjercicio}"></span></td>
										<td class="celdas"><span
												th:text="'Nombre ejercicio '+${ejercicio.tipoEjercicio}"></span></td>
										<td class="celdas"><span
												th:text="'Nombre ejercicio '+${ejercicio.repeticionEjercicio}"></span></td>
										<td class="celdas"><span
												th:text="'Nombre ejercicio '+${ejercicio.duracionEjercicio}"></span></td>
<!--		 								<td class="celdas"><span style="background-color: #ffff33;"-->
<!--		 									th:text="'Precio: '+${rutina.ejercicio.nombreEjercicio}"></span></td>-->
<!--		 								<td class="celdas"><a-->
<!--		 									th:href="@{/compra/compraid/{id}(id=${compra.idCompra})}"-->
<!--		 									class="btn btn-info">Ver la compra</a></td>-->
		 							</tr>
		 						</tbody>
		 					</table>
		 				</div>
		 			</div>
	</section>
</body>
</html>